.time{
    text-align: center;
    padding: 16px;
    position: relative;
}

.time h3{
    font-size: 32px;
    display: inline-block;
    margin: 0;
}

.time .colaboradores{
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}


.botao-cancelar,input{
    cursor: pointer;
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1em;

}

.limpar-time{
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 8px;
    border: none; 
    cursor: pointer;
    color: #fff;
    margin-top: 2em
}

.limpar-time:hover{
    transition: 0.3s;
    opacity: 0.6;
}

.logo{
    width: 50px;
    
    
}

.cabecalho-time{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: .75em;
}